{%extends 'base1.html'%}

{%block body_block%}
<div class="mt-5 bg-info">
<div class="container mt-5">
    <br>
    <h2 class="text-center text-light">FOLLOWINGS</h2>
    <div class="row">
        <div class="col-6 mt-5">
             <div class="card" style="width: 38rem;">
                {%for user in request.user.users.fetch_following%}
                <img class="card-img-top" src="{{user.users.profile_pic.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{user}}</h5>
                    <p class="card-text">people you are following</p>
                    <a href="" class="btn btn-primary">go to profile</a>
                </div>
                {%endfor%}
            </div>
        </div>
        <div class="col-6"></div>
    </div>
</div>
</div>
{%endblock%}