{%extends 'base.html'%}

{%block body_block%}


<div class="card" style="width: 18rem;">
    <img src="{{request.user.users.profile_pic.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{request.user}}</h5>
        <p class="card-text">{{request.user.users.bio}}</p><br>
        <p class="card-text">{{request.user.users.phone}}</p><br>
        <p class="card-text">{{request.user.users.date_of_birth}}</p><br>
        <p class="card-text">{{request.user.users.gender}}</p><br>
        <a href="{%url 'edit-profile' request.user.users.id%}" class="btn btn-primary">Edit profile</a>
    </div>

</div>
   {%for user in request.user.users.fetch_following%}
<li>
    <img src="{{user.users.profile_pic.url}}" alt="" style="width:10%;">{{user}}
    </li>

        {%endfor%}

{%endblock%}